extends layout

block body
	h1 Make a Contribution

	hr

	div(class="panel panel-info")
			.panel-heading
				a(href="https://crowdfunding.cmu.edu/project/54f60e3a14bdf734e8496e96") Make a Contribution 
				| to the Team Now
			.panel-body
				div(class="action text-center")
					div(class="row")
						div(class="col-md-1")
							a(href="https://crowdfunding.cmu.edu/project/54f60e3a14bdf734e8496e96")
								span(class="spaced glyphicon glyphicon-gift" style="float:right" aria-hidden="true")
						
						div(class="col-md-10")
							h3
								| CMSR is raising money for a new 2016 hull through Carnegie Mellon's
								| crowdfunding platform. Learn more or make a donation 
								a(href="https://crowdfunding.cmu.edu/project/54f60e3a14bdf734e8496e96") here!

							br

							a(onclick="$('#video-panel').toggle();") or view our crowdfunding video...

							div(id="video-panel" style="display:none")
								br
								div(class="panel panel-default")
									div(class="panel-body").
										<iframe src="https://player.vimeo.com/video/121001998?byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/121001998">Crowdfunding</a> from <a href="https://vimeo.com/user37925816">Jon Buckley</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

						div(class="col-md-1")
							a(href="https://crowdfunding.cmu.edu/project/54f60e3a14bdf734e8496e96")
								span(class="spaced glyphicon glyphicon-gift" style="float:right" aria-hidden="true")

	//- div(class="panel panel-danger")
	//- 	.panel-heading.
	//- 		Donations Unavailable
	//- 	.panel-body.
	//- 		Sorry, but at this time we are not accepting virtual donations. We are working hard to 
	//- 		enable this feature, so please check back soon!

	//- script(src='https://www.dntly.com/assets/js/v1/form.js' data-donately-id="2585" data-donately-comment="true")