extends layout

block body
	h1 Make a Contribution

	hr

	div(class="panel panel-info")
			.panel-heading Donations
			.panel-body.
				We are busy at work enabling digital donations, so please be patient as 
				we set up the necessary infrastructure. Check back soon!
	//- div(class="panel panel-danger")
	//- 	.panel-heading.
	//- 		Donations Unavailable
	//- 	.panel-body.
	//- 		Sorry, but at this time we are not accepting virtual donations. We are working hard to 
	//- 		enable this feature, so please check back soon!

	//- script(src='https://www.dntly.com/assets/js/v1/form.js' data-donately-id="2585" data-donately-comment="true")