extends layout

block body
	style.
		.folder {
			text-align: center;
			max-width: 150px;
			display: inline-block;
			margin-right: 10px;
		}

	h1 Click an Event to View the Associated Photos

	hr

	each e in subfolders 
		div(class="folder")
			a(href='/gallery/' + e.folder) 
				img(src='/images/gallery/' + e.representativePath width="140px")
			h4 #{e.folder}