extends layout

block body 
  link(href="stylesheets/timeline.css" rel='stylesheet')

  div(class="text-center" style="color:grey")
    h1 CMSR History

  ul(class="timeline")
    //- li
    //-   div(class="timeline-badge success")
    //-     i(class="glyphicon glyphicon-flag")
    //-   .timeline-panel
    //-     .timeline-heading
    //-       h4(class="timeline-title") Finished Some Race
    //-       p
    //-         small(class="text-muted")
    //-             i(class="glyphicon glyphicon-time") 
    //-         | 2009
    //-     .timeline-body
    //-       p.
    //-         Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

    
    li(class="timeline-inverted")
      div(class="timeline-badge info")
        i(class="glyphicon glyphicon-pencil")
      .timeline-panel
        .timeline-heading
          h4(class="timeline-title") Rebranded to CMSR (Carnegie Mellon Solar Racing)
          p
            small(class="text-muted")
                i(class="glyphicon glyphicon-time") 
            | 2014
        .timeline-body
          p.
            In light of competing internationally and growing past solely competeing in Soalr Splash, our team name needed to reflect our broader reaching interests than purely domestic competitions.
    
    li(class="timeline")
      div(class="timeline-badge warning")
        i(class="glyphicon glyphicon-flag")
      .timeline-panel
        .timeline-heading
          h4(class="timeline-title") Finised top-half in DONG race 
        .timeline-body
          p In our first international race, we finished in the top half of the Worldchampionship of soar boating. While being the only competing team from North America and the only University team in our Top Class race division. No other non-professional first-time competitor out performed CMSR in our international races.
          p Our system design reached a steady state power output of 10 mph (16 km/h).

    li(class="timeline-inverted")
      div(class="timeline-badge info")
        i(class="glyphicon glyphicon-globe")
      .timeline-panel
        .timeline-heading
          h4(class="timeline-title") First Solar Splash Competition
        .timeline-body
          p.
            Our boat completed its first solar splash competition with a 70-m Sprint time of 39.84s and a 
            maneuver time of 188.17s.  We received recognition for Notable Performance by a Rookie Team

          hr 

          img(src="/images/solar-splash.png" width="100%")

    li
      .timeline-badge
        i(class="glyphicon glyphicon-off")
      .timeline-panel
        .timeline-heading
          h4(class="timeline-title") CMU Solar Splash team founded
          p
            small(class="text-muted")
                i(class="glyphicon glyphicon-time") 
            | 2005
        .timeline-body
          p.
           Solar Splash is the World Championship of intercollegiate Solar/Electric boating that takes place
            over five days. Technical Inspections are done on the first day, and the remainder of the time is 
            occupied by five on-the-water competitive events. Points are earned in 7 categories starting 
            with Technical reports that are submitted before arrival at the competition. On-site 
            competitions include Visual Displays and Workmanship. On-the-water events begin with a Sprint 
            and a Maneuverability qualifier. This is followed by an event called the Solar Slalom, which is a 
            combination of speed and maneuverability. The final days are spent in the Sprint and Endurance 
            events.
