extends layout

block body
	link(href="stylesheets/parallax.css" rel='stylesheet')

	style.
		.spaced {
			margin-left: 20px;
		}

	.row
		.col-md-12
			div(class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20")
				div(class="ha-parallax-body")
					div(class="ha-content ha-content-whitecolor")
						"My heart is in the work - lots of posters around CMU"
					div(class="ha-parallax-divider-wrapper")
						span(class="ha-diamond-divider-md img-responsive")
					div(class="ha-heading-parallax") CMSR

	div(class="row" style="padding-top:20px") 
		.col-md-12
			div(class="panel panel-info")
				div(class="panel-body")
					p(class="text-justify").
						This is the official website of the Carnegie Mellon Solar Racing Team. We
						are a group of undergraduate students, originating from every discipline and field
						studied at CMU, who build and race solar-powered boats competitively. 
						Founded in 2003, CMSR competes in both domestic and international solar boating races.
						These include the Solar Splash intercollegiate competition and the DONG 
						international race. In fact, CMSR was the only North American team to compete
						at DONG in 2014! 

	div(class="row" style="padding-top:20px")
		.col-md-4
			div(class="panel panel-info")
				.panel-heading
					| Check out 
					a(href="/history") CMSR History 
				.panel-body
					div(class="action text-center")
						a(href="/history")
							span(class="glyphicon glyphicon-time" aria-hidden="true")


		.col-md-4
			div(class="panel panel-info")
				.panel-heading
					| Look at our  
					a(href="/gallery") Pretty Pictures
				.panel-body
					div(class="action text-center")
						a(href="/gallery")
							span(class="glyphicon glyphicon-picture" aria-hidden="true")

		.col-md-4
			div(class="panel panel-info")
				.panel-heading
					| View our   
					a(href="/sponsors") Sponsors
				.panel-body
					div(class="action text-center")
						a(href="/sponsors")
							span(class="glyphicon glyphicon-heart" aria-hidden="true")


	div(class="row" style="padding-top:20px")
		.col-md-12
			div(class="panel panel-info")
				.panel-heading
					a(href="/donate") Make a Contribution 
					| to the Team Now
				.panel-body
					div(class="action text-center")
						a(href="/donate")
							span(class="glyphicon glyphicon-gift" aria-hidden="true")
							span(class="spaced glyphicon glyphicon-gift" aria-hidden="true")
							span(class="spaced glyphicon glyphicon-gift" aria-hidden="true")


	script(src="javascripts/parallax.js")

