doctype html
html
  head
    title= title
    include ./includes/header
  body
    .container-fluid
      .row
        include ./includes/navbar

      .div(class="row body-content")
        block body

      .row
        footer.footer
          include ./includes/footer